[submodule "libraries/Adafruit-PCD8544-Nokia-5110-LCD-library"]
	path = libraries/Adafruit-PCD8544-Nokia-5110-LCD-library
	url = git@github.com:adafruit/Adafruit-PCD8544-Nokia-5110-LCD-library.git
[submodule "libraries/Adafruit-GFX-Library"]
	path = libraries/Adafruit-GFX-Library
	url = git@github.com:adafruit/Adafruit-GFX-Library.git
[submodule "libraries/OneWire"]
	path = libraries/OneWire
	url = git@github.com:PaulStoffregen/OneWire.git
[submodule "libraries/Adafruit_ADXL345"]
	path = libraries/Adafruit_ADXL345
	url = git@github.com:adafruit/Adafruit_ADXL345.git
[submodule "libraries/Adafruit_HMC5883_Unified"]
	path = libraries/Adafruit_HMC5883_Unified
	url = git@github.com:adafruit/Adafruit_HMC5883_Unified.git
[submodule "libraries/Adafruit_Sensor"]
	path = libraries/Adafruit_Sensor
	url = git@github.com:adafruit/Adafruit_Sensor.git


